@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.woff2") format("woff2"),
    url("../fonts/roboto-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000000;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.top {
  width: 1920px;
  color: #333333;
  background: var(--Gray, #efefef);
}

nav {
  padding: 17px 0;
}

ul {
  list-style: none;
}

.menu-item li {
  display: inline-block;
  padding-right: 30px;
}

.menu-item li:last-child {
  padding-right: 0;
}

.top_middle {
  background: #fff;
  overflow: hidden;
  margin: 0 auto;
}

.logo {
  float: left;
  padding: 20px 0;
  margin-right: 20px;
}

.logo_text {
  float: left;
  padding: 40px 0;
  color: var(--Accent, #f13c6e);
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}

.top_right {
  float: right;
}

.phone {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

button {
  width: 170px;
  background: #fff;
  border-radius: 40px;
  border: 2px solid var(--Accent, #f13c6e);
  margin: 40px 0 40px 40px;
  padding: 13px 26px;
}

hr {
  background: #efefef;
  width: 1920px;
  height: 1px;
  margin-bottom: 30px;
}

.menu {
  color: #000;
}
